<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/">home</a>
    |
    <a href="/about">about</a>
    |
    <a href="/contact">contact</a>
    |
    <a href="/products">products</a>

    <% if user_signed_in? %>
      |
      <%= link_to 'Logout', sessions_path, method: :delete, data: { confirm: 'Logout?'} %>
    <% else %>
      |
      <a href="/users/new">sign up</a>
      |
      <a href="/sessions/new">log in</a>
    <% end %>
    <hr>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger  "><%= flash[:alert] %></div>
    <% end %>


    <div class="container">
      <div>
        <% if current_user %>
            <%= current_user.first_name %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
